<div class="row">
  <div id="newsfeed" class="col-lg-6">
    <h4><%= fa_icon "newspaper-o" %> Ultimas Postagens</h4>
    <div id="activities">
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
  <div id="intro" class="col-lg-6">
    <h1>GreenLife</h1>
    <p>GreenLife é uma rede social de turismo sustentável com o intuito de divulgar informações e reunir pessoas. <%= fa_icon 'snowflake-o' %> . Nós ajude a salvar nosso planeta!! Crie sua história! Dissemine conhecimentos e Salve a Natureza!! <%= fa_icon 'tree' %>.
    </p>
    <hr>
    <a><%= link_to 'Vamos lá', user_session_path, class: "btn btn-success" %></a>
  </div>
</div>
